{
    "plugins": [
        "@babel/plugin-proposal-class-properties",
      [
        "@babel/plugin-transform-runtime",
        {
          "regenerator": false
        }
      ]
    ],
    "presets": [
      [
        "@babel/preset-env",
        {
          "useBuiltIns": "entry",
          "targets": {
            "ie": "9"
          }
        }
      ]
    ]
  }